<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recommendation</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<canvas id="bar-chart" width="400" height="400"></canvas>
<script>

    var config = {
      type: 'bar',
      data: {
          labels: {{ labels }},
          datasets:[{
              label: 'Population',
              data:{{ data }}
          }]
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('bar-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>



</body>
</html>